.card-listing {
    padding: 0.5rem;
}

.card-listing-grid {
    /* Autofits between ranges 20em and 50em */
    /* grid-template-columns: repeat(auto-fit, minmax(20em, 50em)); */
    /* grid-template-columns: repeat(auto-fit, fit-content(200px)); */

    /*  The minimal allowable size is 10em vs maximum size is infinite
        Remove to allow more tightly stretching. */
    grid-template-columns: repeat(auto-fit, minmax(10em, 100%));
    grid-auto-flow: row dense;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    height: 100%;
    gap: 0.5rem;
    /*background-color: #2196F3;*/
    /*padding: 1%;*/
}

.card-listing-items {
    cursor: inherit;
    width: 100%;
    height: 100%;

    /*background-color: rgba(255, 255, 255, 0.8);*/
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    /*font-size: 2em;*/
}


.card-listing:hover {
    box-shadow: 0 0 1em 0 rgba(26, 26, 26, 0.44);
    transition: box-shadow 0.2s ease;
    cursor: pointer;
    user-select: none;
}


.card-listing-title {
    display: inline-block;
    color: #222;
    font-weight: 600;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    cursor: inherit;
}


.card-listing-tags-label {
    color: #222;
    font-size: 0.72em;
    line-height: 0.72em;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    word-wrap: break-word;
    cursor: inherit;
}

.card-listing-tags {
    border-radius: 1vw;
    overflow: hidden;
    cursor: inherit;
    padding: 2% 4% 2% 4%;
}

.close-border {
    float: right;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
}

.close {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #2c2a2a;
    text-shadow: 0 1px 0 #464545;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.close:hover {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=40);
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}


.card-update-button {
    background-color: #1a1a0e;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 96px;
    border: 0.2em solid black;
    padding: 0.2em 1.5em 0.2em 1.5em;
    cursor: pointer;
    font-size: min(min(1.5vw, 1.5em), 1.5vh);
    width: min(10vw, 20rem);
    height: min(4vw, 5em);
}

.card-update-button:hover {
    transform: scale(1.025);
    box-shadow: 0 0 1.5em 0 rgba(26, 26, 26, 0.12);
    transition: transform 0.02s ease, box-shadow 0.3s ease;
}

.card-listing-interactive {
    display: flex;
    justify-content: space-evenly;
}