
.register-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(34, 34, 34, 0.65);
}

.register-modal-items {
    width: 100%;
    height: 100%;
}


.register-modal {
    display: flex;
    align-content: space-evenly;
    position: fixed;
    grid-row-gap: min(2vh, 1em);
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    z-index: 50;
    width: min(50vw, 22rem);
    height: min(90vh, 50rem);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 24px;
    background-color: #FFFFFF;
    border: 0.025em solid black;
    padding: 1.5em 2em 1.5em 2em;
    box-shadow: 0 6px 36px rgb(34 34 34 / 33%);
    transition: opacity 150ms ease-out,transform 255ms cubic-bezier(0.175, 0.745, 0.425, 1.11);
}


/******** Header ***************/
.register-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    grid-row-gap: min(1.5vh, 1em);
}

.register-header-title {
    font-weight: 700;
    font-size: min(min(4vw, 1.2em), 4vh);
    color: rgba(34, 34, 34, 0.84);
    margin: auto;
}


.register-header-text {
    font-size: min(min(3vw, 1em), 3vh);
    color: rgba(34, 34, 34, 0.84);
    margin: auto;
}


.register-demo-button {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    color: #FFFFFF;
    background-color: #2F466C;
    font-weight: 600;
    border-radius: 96px;
    border: 0.2em solid black;
    padding: 0.2em 1.5em 0.2em 1.5em;
    cursor: pointer;
    font-size: min(min(1.5vw, 0.8em), 1.5vh);
    width: min(10vw, 6rem);
    height: min(10vw, 3em);
}

.register-demo-button:hover, .login-register-button:hover {
    transform: scale(1.025);
    box-shadow: 0 0 1.5em 0 rgba(26, 26, 26, 0.12);
    transition: transform 0.02s ease, box-shadow 0.3s ease;
}



/******** Form *****************/
.register-form {
    width: min(2vh, 1em);
}

.register-email-text, .register-password-text, .register-name-text{
    font-weight: 400;
    font-size: min(min(2vw, 0.8em), 2vh);
}

.register-input-email, .register-input-password, .register-input-name {
    background-color: #FFFFFF;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.12) inset;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    font-weight: 500;
    border-radius: 6px;
    border: 0.05em solid rgba(34, 34, 34, 0.15);
    font-size: min(min(5vw, 1em), 5vh);
    width: min(50vw, 21rem);
    height: min(5vh, 2.5em);
}

.register-input-email:hover, .register-input-password:hover {
    border: 0.05em solid rgba(14, 0, 0, 0.55);
}


/*********** Submit *************/

.register-submit-button:enabled {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    font-weight: 500;
    border-radius: 96px;
    border: 0.15em solid black;
    padding: 1em 5em 1em 5em;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: min(min(5vw, 1em), 2.5vh);
    width: min(50vw, 21rem);
    height: min(10vh, 3.5em);
}

.register-submit-button:enabled:hover {
    transform: scale(1.025);
    background-color: #222222;
    box-shadow: 0em 0em 1.5em 0 rgba(26, 26, 26, 0.12);
    transition: transform 0.02s ease, box-shadow 0.3s ease;
}

.register-submit-button:disabled {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    font-weight: 500;
    border-radius: 96px;
    border: 0.15em solid transparent;
    padding: 1em 5em 1em 5em;
    background-color: #6b6b6b;
    color: white;
    cursor: not-allowed;
    font-size: min(min(5vw, 1em), 2.5vh);
    width: min(50vw, 21rem);
    height: min(10vh, 3.5em);
}

/*********** Divider ************/

.register-divider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.register-left-divider, .register-right-divider{
    width: 9em;
    height: 0.06em;
    flex-grow: 100;
    background-color: rgba(34, 34, 34, 0.15);
}

.register-divider-text {
    font-weight: 400;
    font-size: min(min(2vw, 1em), 2vh);
    line-height: 0;
    color: rgba(34, 34, 34, 0.7);
}

/*********** Alternatives *************/

.register-alternatives {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: center;
    justify-items: center;
    row-gap: min(2vh, 1em);
}

.register-google, .register-facebook, .register-apple {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    background: transparent;
    font-weight: 500;
    border-radius: 96px;
    border: 0.025em solid black;
    padding: 1em 3em 1em 3em;
    cursor: pointer;
    font-size: min(min(2vw, 1em), 2vh);
    width: min(50vw, 20rem);
    height: min(12vh, 3.2em);
}

.register-google:hover, .register-facebook:hover, .register-apple:hover {
    transform: scale(1.01);
    box-shadow: 0 0 1.5vw 0 rgba(26, 26, 26, 0.12);
    transition: transform 0.07s ease, box-shadow 0.3s ease;
}

/****** Terms and Conditions ***********/

.register-terms-conditions {
    font-weight: 400;
    font-size: min(min(3vw, 0.85em), 2vh);
    color: rgba(34, 34, 34, 0.7);
    line-height: 1.5;
}