.global-flowlayout-grid {
    display: flex;
    flex-flow: row wrap;
    /* the original gridlayout-container
    Nothing here unless something new comes up.
    This will override every existing gridlayout container.
    */
    justify-content: space-evenly;
    gap: 1rem;
}

.global-flowlayout-items {
    /* the original gridlayout-item
    Nothing here unless something new comes up.
    This will override every existing gridlayout items.
    */
     /*flex-grow: 0; !* 0 tight fit, 1 for even even out the distribution to all children *!*/

}

.global-default-flowlayout-grid {
    background-color: #2196F3;
    padding: 1.5vw;
}

.global-default-flowlayout-items {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.5vw solid rgba(0, 0, 0, 0.8);
    padding: 1vw;
}